# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Broadcast transactions
broadcast/
cache/

# IDE
.vscode/
.idea/

# Foundry
lib/

# Node modules (if any)
node_modules/

# macOS
.DS_Store
